*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --pink: #e83e8c;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --teal: #20c997;
  --cyan: #17a2b8;
  --blue: #4e66f8;
  --white: #fff;
  --gray-dark: #343a40;
  --light: rgb(236, 231, 231);
  --dark: #e8eaeb;
  --font-family-sans-serif: "Poppins", sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --breakpoint-xs: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  height: 0px;
}

#nav {
  overflow: hidden;
  background-color: var(--cyan);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  /*height: 5rem;*/
}

#nav li {
  display: block;
  float: right;
  margin: 0;
  text-align: right;
  padding: 0.5em;
}

#nav a {
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  padding-right: 0.3em;
  text-align: center;
}

#nav ul li a:hover {
  color: var(--pink);
}

/*----Caroulsel Pictures----*/

#carousel {
  padding-top: 4.5em !important;
}

.carousel-pictures {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

#img {
  margin: 0;
  padding: 0;
}

.carousel-text {
  position: absolute;
  font-weight: 700;
  color: white;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.carousel-item h1 {
  font-size: 3rem;
  color: var(--white);
}

/*.carousel-item */

.link-booking {
  padding: 4rem;
  background-color: var(--dark);
  color: var(--white);
}

/* About Session */

.about-section {
  padding: 6em 0em;
}

.booking-section {
  background-color: var(--dark);
  margin: 0 auto !important;
  padding: 6rem 2px;
}

.about-title {
  font-size: 2.5rem;
}

/* Section 3 */

.section-three {
  margin: 0 auto !important;
  padding: 6rem 2px;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  font-weight: 500;
}

.subtext {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--pink);
  margin: 0;
}

.title-img {
  color: var(--blue);
  font-size: 2rem;
  font-weight: 600;
}

.photo-container {
  justify-content: center;
  margin: 0 auto;
  /*height: 50vh;*/
}

img.photos.hover-scale {
  background-color: transparent;
  margin-top: 2em;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  left: 0;
  list-style: outside none none;
  max-width: 100%;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 19%;
  height: 55%;
}

img.hover-scale:hover {
  transform: scale(1.05);
}

.footer {
  background-color: #1f1f1f;
  color: var(--white);
  height: 10em;
}

.footer-content {
  padding: 1em 3em;
}
